/* main layout of our kanban */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}


.kanban-board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kanban-board > * {
    width: 30% ;
    min-height: calc(100% - 2em);
    margin: 3px;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px darkgray solid;
    background-color: var(--background-color);
    /*background-color: lightgray;*/
}

.kanban-list {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.kanban-item {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 3px;
    /*color: white;*/
    /*mix-blend-mode: difference;*/
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5lh;
    color: white;
}

/*.kanban-item > * {
    color: white;
    mix-blend-mode: difference;
}*/